@CHARSET "ISO-8859-1";

@font-face {
	font-family: 'Capsuula';
	src: url('../fonts/Capsuula.ttf') format("truetype");
}

html, body {
	margin: 0;
	background-color: rgb(152, 132, 171);
	padding: 0;
	height: 100%;
}

a {
	text-decoration: initial;
    color: black;
}

a:hover {
	color: #6F3D94;
	font-weight: bold;
/* 	rgb(111, 61, 148);	  */
}

.wrapper {
	min-height: 100%;
	position: relative;
}

.preheader {
	background-color: rgb(111, 61, 148);
	height: 70px;
}

.footer {
	background-color: rgb(111, 61, 148);
	width: 100%;
	height: 70px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.header {
	background-color: rgb(131, 102, 158);
}

.fitHeader {
	min-width: 665px;
	width: 665px;
	max-width: 665px;
	min-height: 115px;
    height: 115px;
    max-height: 115px; 
}

.headerContent {
	padding-top: 60px;
	margin: 0 auto;
	width: 60%;
	
}


.content {
	padding-bottom: 70px;
}

.siteHeader {
	
}

.supCopy {
	font-family: Arial;
	font-size: 40px;
	color: rgb(255, 251, 255);
	position: relative;
	bottom: 27px;
}

.logo {
	font-family: Capsuula;
	font-size: 120px;
	color: rgb(255, 251, 255);
}

.text {
	font-family: Arial;
	color: rgb(255, 251, 255);
}

.capsula {
	font-family: Capsuula;
}

.circles {
	display: inline-flex;
	width: 100%;
	margin-bottom: 40px;
}

.circleWrapper {
	width: 100%;
	display: inline;
	margin: 20px;
}

.circleWrapper.one {
	width: 100%;
}

.circleWrapper.rankChoose {
	width: 280px;
}

.circle {
	border-radius: 50%;
	width: 140px;
	height: 140px;
	padding: 15px;
	margin: 0 auto;
}

.circle.walk {
	background-color: rgb(195, 239, 180);
}

.circle.run {
	background-color: rgb(196, 231, 191);
}

.circle.bike {
	background-color: rgb(157, 234, 200);
}


.union {
	background-color: rgb(191, 230, 231);
	height: 64px;
	width: 64px;
}

.favorite {
	background-color: rgb(241,239,169);
	height: 64px;
	width: 64px;
}

.circle.Velocidade,.circle.Distância {
	background-color: rgb(157, 234, 200);
	height: 128px;
	width: 128px;
}


.circle.velocidade,.circle.distancia {
	background-color: rgb(157, 234, 200);
	height: 128px;
	width: 128px;
}

.modalidade  {
	background-color: rgb(212, 162, 102);
}

.modo {
	background-color: rgb(157, 234, 200);
}

	
.Velocidade {
	background-image: url('../../imagem/speedometer14.png');
}

.Distância {
	background-image: url('../../imagem/races.png');
}

.Quantidade {
 	background-image: url('../../imagem/qtd.png');
}

.runs {
	background-image: url('../../imagem/sprint.png');
}

.walks {
	background-image: url('../../imagem/man-silhouette1.png');
}

.bikes {
	background-image: url('../../imagem/bike11.png');
}


.all {
 	background-image: url('../../imagem/interface52.png');
}

.calendario {
	background-image: url('../../imagem/calendar157.png');
}

.periodo {
	background-color: rgb(195, 239, 180);
}


.bgMedium {
    background-size: 54px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 94px !important;
    height: 94px !important;
    background-position: center;
}

.bgSmall {
    background-size: 35px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 37px;
    height: 37px;
    background-position: center;
}

.bgTiny {
    background-size: 20px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background-position: center;
}

.selectedMode {
	border-style: solid;
    border-color: darkorange;
    border-width: 3px;
}

.selectedShift {
	border-style: solid;
    border-color: royalblue;
    border-width: 3px;
}


.circle.dia {
	background-color: rgb(196, 231, 191);
	height: 64px;
	width: 64px;
	position: relative;
	/* 	top: 25px; */
}

.circle.noite {
	background-color: rgb(196, 231, 191);
	height: 64px;
	width: 64px;
	position: relative;
	top: 25px;
}

.circle.calendario {
	background-color: rgb(195, 239, 180);
	height: 64px;
	width: 64px;
	position: relative;
	/* 	top: 25px;	 */
/* 	position: relative; */
/* 	    top: 130px; */
	

}

.circle.calendario.calendarioEscolhe {
	bottom:90px;
	right: 40px;	
}

.circle.bestRank {
	background-color: rgb(187, 173, 28);
	height: 128px;
	width: 128px;
	position: relative;
	top: 200px;
}

/* .circle */
.global {
/* 	background-color: rgb(196, 231, 191); */
	width: 64px;
	height: 64px;
/* 	display: inline-block; */
	margin: 20px;
}

div.circle:hover {
	cursor: pointer;
}

div.fav {
	display: inline;
}


img.fav:hover {
	cursor: pointer;
}


/*slider*/
.circleWrapper.rankChoose.slider {
/*     margin-right: 200px; */
    margin-left: 173px;
    margin-top: 91px;
}

.ui-widget-content {
	border: none !important; 
    background: none !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: none !important; 
    background: none !important;
}

.ui-slider-vertical.ui-slider-pips .ui-slider-pip {
	top: 106px !important;
}

.ui-slider-pip-initial:not([class*=ui-slider-pip-selected]) {
	color: rgb(153, 153, 153) !important;
}

.ui-slider-pip-initial [class*=ui-slider-pip-selected] {
    font-weight: bold !important; 
    color: #FF7A00 !important;
}

/* ranking */

.circle.ranking {
	margin-left: 10px;
	display: inline-block;
}

.circle.ranking.smallTile {
/* 	top: 25px; */
	width: 35px;
	height: 35px;
	position: relative;
}

.circle.ranking.smallTile>img {
	width: 64px;
	height: 64px;
}

.ranks {
	background-color: rgb(194, 240, 178);
}

.tableRank {
	margin: 0 auto;
	font-family: Capsuula;
	font-size: 35px;
	border-spacing: 20px;
}

th {
	margin: 0 20px;
}

td.measure {
	text-align: center;
	position: relative;
}

td.profileName {
/* 	padding-left: 50px; */
	    max-width: 250px;
    min-width: 250px;
}

.chosenPeriod {
	font-size: 23px;
	color: white;
	font-weight: bold;
	position: absolute;
    right: -25px;
}

.chosenModo {
	font-size: 23px;
	color: white;
	font-weight: bold;
	position: absolute;
	width: 93px;
   	top: 65px;
    left: -10px;
    word-wrap: break-word;
    text-align: center;
    display: none;
}

.descOpcaoModo{
	font-size: 23px;
	color: white;
	font-weight: bold;
	position : relative !important;
	right: -36px !important;
	width: 150px;
    display: inline-block;
}

.descOpcao{
	position : relative !important;
	right: -36px !important;
}

.chosenModalidade {
	font-size: 23px;
	color: white;
	font-weight: bold;
	position: absolute;
	width: 90px;
   	top: 65px;
    left: -10px;
    word-wrap: break-word;
    text-align: center;
    display: none;
}

.descOpcaoModalidade{
	font-size: 23px;
	color: white;
	font-weight: bold;
	position : relative !important;
	right: -36px !important;
}

.colocacao {
	width: 75px;
}

.measure>span>.circle {
	margin: 10px !important; 
	height: 20px !important;
    width: 20px !important;
    padding: 9px !important;
    display: inline-block !important;
}

.measure>span>.circle>img {
	width: 35px !important;
    height: 35px !important;
}

.not_emphasized {
	font-size: 20px;
}

.rankingLine {
	height: 125px;
}

.rankingHeader {
	width: 950px !important;
	
}

.menu {
	display: inline-block;
	position: relative;
}

.hidden {
	display: none !important;
}

.opcao {
	position: absolute !important;
	width: 20px !important;
    height: 20px !important;
}

#loading {
	display:none;
	position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .1) 
                url('../../imagem/loading.gif') 
                50% 50% 
                no-repeat;');	
}

.modoSpan {
	position: relative;
    bottom: 38px;
}

.modoSpan>div {
	position: relative;
    top: 20px;
}

.qtdSpan {
	
	position: relative;
    bottom: 38px;
/*     left: 60px; */
}

.configWrapper{
    position: absolute;
    top: 176px;
    right: 20px;
}

.circle.config {
    background-color: rgb(207, 207, 207);
    
}

.gearIcon {
	
	background-image: url('../../imagem/settings.png');
}

.mainConfig {
	font-size: 23px;
    color: white;
    font-weight: bold;
    position: absolute;
    width: 90px;
    top: 65px;
    left: -10px;
    word-wrap: break-word;
    text-align: center;
    display: none;
}
